/* Full screen background */
.login-bg {
  min-height: 100vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("https://thumbs.dreamstime.com/b/jewelry-dark-navy-blue-background-illustration-rich-color-shine-sparkle-luxurious-sophisticated-327540114.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Glass card */
.login-card {
    margin: 10px;
  width: 100%;
  max-width: 400px;
  padding: 35px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

/* Title */
.login-title {
  text-align: center;
  color: #ffffff;
  font-weight: 700;
}

.login-subtitle {
  text-align: center;
  color: #dcdcdc;
  margin-bottom: 25px;
}

/* Inputs */
.glass-input {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: #fff;
  padding: 12px;
  border-radius: 10px;
}

.glass-input::placeholder {
  color: #ddd;
}

.glass-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 255, 150, 0.5);
  background: rgba(255, 255, 255, 0.25);
  color: #fff;
}

/* Button */
.login-btn {
  background: linear-gradient(135deg, #00ff99, #00ccff);
  border: none;
  padding: 12px;
  border-radius: 12px;
  font-weight: 600;
  color: #000;
  transition: transform 0.3s ease;
}

.login-btn:hover {
  transform: translateY(-2px);
}

/* Signup link */
.signup-link {
  color: #00ffcc;
  font-weight: 600;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}
